.center-icon-name {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    /* margin-left: 370px; */
    
}

body {
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar navbar-expand-lg bg-body-tertiary{
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #3494E6;
}

.nav-iconc {
    align-content: center;

}

.navbar{
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ea559f, #0d7ee0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec489a, #1b87e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        
}

.carousel{
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
}


.footer{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    height: 300px;
    display: flex; 
    justify-content: space-between;
    
}


.footer div {
    display: flex;
    justify-content: center;
    flex: 1; 
    color: aliceblue;
    font-size: 30px;
    font-style: italic ;
    text-align: center!important;
    align-items: center;
    margin: 0 10px;
}





